.footer{
    padding-top: 30px;
    padding-bottom: 100px;
}

.footer_line{
    border: solid 1px #3C3030;;
}
.footer_text{
    text-align: center;
    padding-top: 40px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inria Serif";
}

.circle_img{
    width: 8px;
    padding-bottom: 3px;
}

.footer-div{
    text-align: center;
    padding-top: 25px;
}
.circle-footer_img{
    width: 8px;
    padding-bottom: 3px;

}

@media (max-width: 576px) {
    .footer_text {
        display: none;
    }

    .footer-div {
        display: block;
    }
}

@media (min-width: 577px) {
    .footer_text {
        display: block;
    }

    .footer-div {
        display: none;
    }
}
