@media (min-width:1200px){
    .container{
        max-width: 940px;
    }
  }
  


.col-sm-12{
    margin: 0px;
    margin-top: 20px;

}


.img_1{
    width: 100%;
}

.title{
    font-size: 18px;
    font-weight: 600;
    color: #3C3030;
    font-family: "Inknut Antiqua";
    padding-top: 16px;
    margin: 0px;
    padding-bottom: 16px;
}

.description{
    font-size: 16px;
    font-weight: 400px;
    font-family: Inter;
    padding-bottom: 16px;
    margin: 0px;
}

.urls{
    font-size: 16px;
    font-weight: 400px;
    color: #3C3030;
    margin: 0px;
    font-family: Inria Sans;
}

.arrow{
    padding-left: 10px;
}